/* Space out content a bit */
body
{
  background: url("/images/11.jpg");
  background-position:cover;
}

#siteHeader
{
    width: 100%;
    text-align: center;
}

#siteHeader h1
{
  font-family: Pacifico;
  font-size: 32px;
  color: #fff;
}

#tree
{
  height: 800px;
  text-align: center;
  background: url("/images/tree.png");
}

.link
{
  padding: 10px;
  border-radius: 5px;
}

