/* Space out content a bit */
body
{
  background: url("/images/11.jpg");
  background-position:cover;
}

#siteHeader
{
    width: 100%;
    text-align: center;
}

#siteHeader h1
{
  font-family: Pacifico;
  font-size: 32px;
  color: #fff;
}

#tree
{
  height: 800px;
  text-align: center;
  background: url("/images/tree.png");
}

.link
{
  padding: 10px;
  border-radius: 5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/* Capture */
video {
  margin-left: 230px;
  margin-top: 120px;
  position: absolute;
}
canvas {
  margin-left: 500px;
  margin-top: 120px;
  position: absolute;
  border: 5px solid black;
}
