<div class="video-container">
  <video id="video" width="480" height="360" preload autoplay loop muted></video>
  <canvas id="canvas" width="480" height="360"></canvas>
</div>

<div class="sprite_container">
  <img src="/images/sprites/elf_hat_1.png" alt="">
  <img src="/images/sprites/elf_hat_2.png" alt="">
  <img src="/images/sprites/elf_suit_1.png" alt="">
  <img src="/images/sprites/elf_suit_2.png" alt="">
  <img src="/images/sprites/elf_suit_3.png" alt="">
  <img src="/images/sprites/santa_beard.png" alt="">
  <img src="/images/sprites/santa_hat_1.png" alt="">
  <img src="/images/sprites/santa_hat_2.png" alt="">
  <img src="/images/sprites/santa_suit.png" alt="">
</div>

<div id="capture-btn">Capture!</div>
